{
   "arrowParens": "always",
   "semi": false,
   "trailingComma": "none",
   "tabWidth": 3,
   "endOfLine": "auto",
   "bracketSameLine": false,
   "useTabs": false,
   "singleQuote": true,
   "printWidth": 160,
   "jsxSingleQuote": true,
   "plugins": ["prettier-plugin-tailwindcss"]
}
